.form-section {
    width: 80%;
    float: right;
}

.input-field {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 5%;
    height: 210px;
}

.button-field {
    padding-top: 5%;
}

.col-6 {
    display: inline;
}